*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* inherit from body value */
    box-sizing: inherit;
}

html {
    /* we want 10 px and default is 16 so, 10/16 = .625 
    This defines what 1rem is for the project */
    font-size: 62.5%; // We want 1rem = 10px, 10px/16px = 62.5%

    @include respond(tab-land) { // Is width <1200?
        font-size: 56.25%; // We want 1rem = 9px, 9px/16px = 56.25%
    }

    // use media query mixin 
    @include respond(tab-port) { // Is width <900?
        font-size: 50%; // We want 1rem = 8px, 8px/16px = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // We want 1rem = 12px, 12px/16px = 75%
    }
}

body {
    /* border and padding are no longer added to total width / height  */
    box-sizing: border-box;
    /* 30/10 = 3rem from html root */
    padding: 3rem; 

    @include respond(tab-port) { 
        // remove padding around body at tab-port
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}